<section class="px-4 container">
    <div id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
              rel="stylesheet"
              type="text/css" />
        <div id="mc_embed_signup"
             class="shadow-xl py-[19px] rounded-lg max-w-[520px] mx-auto bg-white">
            <div class="!flex justify-end mb-6 md:mb-16 px-5">
                <button @click="closeMCForm">
                    <svg class="size-6"
                         viewBox="0 0 25 24"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.879 4L4.78674 20" stroke="#E42312" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4.78674 4L20.879 20" stroke="#E42312" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <form action="https://alpha.us17.list-manage.com/subscribe/post?u=607cd553028b55c8cfb706e8a&amp;id=53290646b3&amp;f_id=0071c2e1f0"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  class="validate"
                  target="_blank">
                <div id="mc_embed_signup_scroll">
                    <div class="mb-8 text-center text-[#212121] font-bold text-[16px] leading-5 md:text-[24px] md:leading-7">
                        ลงทะเบียนเพื่อรับพระคัมภีร์กับ Nicky และ Pippa Gumbel ในแต่ละวันทางอีเมล
                    </div>
                    <div class="mc-field-group !w-full">
                        <label class="!flex justify-between flex-wrap text-red text-xs sm:!text-[14px] sm:!leading-4 md:!text-[16px] md:!leading-5"
                               for="mce-EMAIL">
                            <div>ที่อยู่อีเมลหลัก *</div>
                            <div>* แสดงว่าจำเป็น</div>
                        </label>
                        <input type="email"
                               name="EMAIL"
                               class="required email !w-full !text-black-scrim"
                               id="mce-EMAIL"
                               required=""
                               value="" />
                    </div>
                    <div hidden="">
                        <input type="hidden" name="tags" value="124" />
                    </div>
                    <div id="mce-responses" class="clear !w-full !p-0 !m-0">
                        <div class="response !text-red"
                             id="mce-error-response"
                             style="display: none"></div>
                        <div class="response !w-full !p-0 !m-0"
                             id="mce-success-response"
                             style="display: none"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px">
                        <input type="text"
                               name="b_607cd553028b55c8cfb706e8a_53290646b3"
                               tabindex="-1"
                               value="" />
                    </div>
                    <div class="mt-[27px] md:mt-[51px] space-y-5 text-center !font-light !text-xs !leading-[14px] !text-[#212121] md:!text-xl md:!leading-6 tracking-[3%] !font-sans">
                        <p>
                            เราจะใช้ข้อมูลที่คุณให้ไว้ในแบบฟอร์มนี้เพื่อส่งอีเมลถึงคุณทุกวัน คุณสามารถยกเลิกการสมัครรับข้อมูลได้ตลอดเวลาโดยคลิกลิงก์ยกเลิกการสมัครรับข้อมูลที่ด้านล่างของอีเมลของเรา สำหรับข้อมูลเพิ่มเติมเกี่ยวกับวิธีใช้สิทธิ์ของคุณ โปรดอ่านนโยบายความเป็นส่วนตัวของเรา
                            <a class="!font-normal underline"
                               href="https://bible.alpha.org/th/privacy-policy/">นโยบายความเป็นส่วนตัว</a>
                        </p>
                        <p>
                            เราใช้คุกกี้บนเว็บไซต์ของเรา หากต้องการข้อมูลเพิ่มเติม โปรดดูนโยบายคุกกี้ของเรา
                            <a class="!font-normal underline"
                               href="https://bible.alpha.org/th/cookies/">นโยบายคุกกี้</a>
                        </p>
                    </div>
                    <div class="clear">
                        <input type="submit"
                               name="subscribe"
                               id="mc-embedded-subscribe"
                               class="button !w-full !bg-red uppercase !mt-[40px] !h-[50px] md:!h-[68px] !font-medium !text-[24px] !leading-7 text-center hover:!bg-red/70"
                               value="Ok" />
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript"
                src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[3] = 'EN_SUB';
            ftypes[3] = 'radio';
            fnames[1] = 'DE_SUB';
            ftypes[1] = 'radio';
            fnames[2] = 'ES_SUB';
            ftypes[2] = 'radio';
            fnames[4] = 'FR_SUB';
            ftypes[4] = 'radio';
            fnames[5] = 'ID_SUB';
            ftypes[5] = 'radio';
            fnames[6] = 'TH_SUB';
            ftypes[6] = 'radio';
            fnames[7] = 'HI_SUB';
            ftypes[7] = 'radio';
            fnames[8] = 'ZH_SUB';
            ftypes[8] = 'radio';
            fnames[9] = 'AR_SUB';
            ftypes[9] = 'radio';
            fnames[10] = 'IT_SUB';
            ftypes[10] = 'radio';
            fnames[11] = 'VI_SUB';
            ftypes[11] = 'radio';
          })(jQuery);
          var $mcj = jQuery.noConflict(true);
        </script>
    </div>
</section>
