---
layout: page
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/faqs/index.html"
activePage: faqs
redirectFrom: help
redirectTo: faqs
---

<main class="mx-auto py-2 sm:py-4 lg:container">

  <h1 class="title">{{ lang.title }}</h1>


  {% if lang.intro %}
  <div class="prose">
    {{ lang.intro | markdown | safe }}
  </div>
  {% endif %}
</main>

<div
  class="mx-auto py-2 sm:py-4 lg:container"
  x-data="app.faqsViewModel"
  x-init="init()"
>
  <div class="js-filter hidden flex relative mb-4">
    <span class="py-2 pr-2 font-bold absolute ltr:left-0 rtl:right-0 pointer"
      >{{ lang.filter }}:</span
    >
    <input
      type="text"
      class="
        searchField__input
        appearance-none
        w-full
        p-2
        pl-16
        border-b-2 border-grey
        focus:outline-none
        focus:border-red
      "
      placeholder="{{ lang.filterHint }}"
      x-model="query"
    />
    {% svgSprite name="search", class="pointer-events-none absolute ltr:right-2 rtl:left-2 top-2 h-6 w-6" %}
  </div>

  <div class="grid gap-4 md:grid-cols-2 mb-4">
    {% for category, faqsItem in collections.faqsItems | groupby('category') %}
      <div class="border border-grey p-8 space-x-2 space-y-2 js-faqsItem">
        <div class="font-bold inline-block text-gray-600 uppercase">
          {{ lang.categories[category] }}
        </div>
        {% for item in faqsItem  %}          
          {% if item.locale == locale %}
            <details class="my-2 js-faqsItem">
              <summary class="font-bold text-red ">{{item.title}}</summary>
                <p class="my-1">{{item.shortAnswer}}</p>
                {% if item.detailedAnswer %}
                  <a href="/{{ locale }}/faqs/{{ item.slug }}" class="mb-2 underline">
                    {{ lang.seeMore }}
                  </a>
                {% endif %}
            </details>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div x-show="!!query">
    <div
      x-show="filteredItems() == 0"
      class="border border-grey mb-4 p-8 flex flex-col items-center"
    >
      <h1
        class="font-bold text-center"
        x-text="`{{ lang.notFoundMessage }} '${query}'`"
      ></h1>
      <a
        href="/{{ locale }}/faqs/ticket"
        class="border border-red text-red mt-4 px-2 py-4 rounded"
      >
        {{ lang.submitButton }}
      </a>
    </div>
  </div>
</div>
