---
layout: page
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/faqs/index.html"
activePage: faqs
redirectFrom: help
redirectTo: faqs
---

<main class="py-2 mx-auto sm:py-4 lg:container">
  <h1 class="title">
    {% if lang.title %}{{ lang.title }}{% endif %}
  </h1>
  {% if lang.intro %}<div class="prose">{{ lang.intro | markdown | safe }}</div>{% endif %}
</main>
<div class="py-2 mx-auto sm:py-4 lg:container" x-data="faqsView">
  <div class="relative flex hidden mb-4 js-filter">
    <span class="absolute py-2 pr-2 font-bold ltr:left-0 rtl:right-0 pointer">
      {% if lang.filter %}{{ lang.filter }}{% endif %}
    :</span>
    <input type="text"
           class="w-full p-2 border-b-2 appearance-none searchField__input ltr:pl-16 rtl:pr-16 border-grey focus:outline-none focus:border-red"
           {% if lang.filterHint %}placeholder="{{ lang.filterHint }}"{% endif %}
           x-model="query" />
    {% svgSprite name="search", class="absolute w-6 h-6 pointer-events-none ltr:right-2 rtl:left-2 top-2" %}
  </div>
  <div class="grid gap-4 mb-4 md:grid-cols-2">
    {% if collections.faqsItems %}
      {% for category, faqsItem in collections.faqsItems | groupby('category') %}
        <div class="p-8 space-x-2 space-y-2 border border-grey js-faqsItem">
          <div class="inline-block font-bold text-gray-600 uppercase">
            {% if lang.categories[category] %}{{ lang.categories[category] }}{% endif %}
          </div>
          {% if faqsItem %}
            {% for item in faqsItem %}
              {% if item.locale == locale %}
                <details class="my-2 js-faqsItem">
                  <summary class="font-bold text-red ">
                    {% if item.title %}{{ item.title }}{% endif %}
                  </summary>
                  <p class="my-1">
                    {% if item.shortAnswer %}{{ item.shortAnswer }}{% endif %}
                  </p>
                  {% if item.detailedAnswer %}
                    <a {% if item.slug %}href="/{{ locale }}/faqs/{{ item.slug }}"{% endif %}
                       class="mb-2 underline">
                      {% if lang.seeMore %}{{ lang.seeMore }}{% endif %}
                    </a>
                  {% endif %}
                </details>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div x-show="!!query">
    <div x-show="filteredItems() == 0"
         class="flex flex-col items-center p-8 mb-4 border border-grey">
      <h1 class="font-bold text-center"
          {% if lang.notFoundMessage %}x-text="`{{ lang.notFoundMessage }} '${query}'`"{% endif %}></h1>
      <a href="/{{ locale }}/faqs/ticket"
         class="px-2 py-4 mt-4 border rounded border-red text-red">
        {% if lang.submitButton %}{{ lang.submitButton }}{% endif %}
      </a>
    </div>
  </div>
</div>
