---
layout: page
pagination:
  data: collections.helpItems
  size: 1
  alias: item
permalink: "{{ item.locale }}/faqs/{{ item.slug }}/index.html"
eleventyComputed:
  title: "{{ item.title }}"
  locale: "{{ item.locale }}"
  description: "{{ item.shortAnswer | truncate }}"
  disableMetaTranslations: true
---

<section class="px-4 lg:container mx-auto">
  <a href="/{{ locale }}/faqs" class="flex items-center mb-2 text-red hover:text-red-dark md:mb-4">
    {% svgSprite name="arrow-left", class="h-6 w-6 hover:fill-current" %}
    <span class="pl-1 pt-1">Back to all Frequently Asked Questions (FAQs)</span>
  </a>

  <div class="prose lg:prose-xl">
    <h1>{{ title }}</h1>
    {{ item.detailedAnswer|markdown|safe }}
  </div>

</section>
