---
layout: page
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/faqs/ticket/index.html"
activePage: faqs
title: "Ask a question about BiOY"
redirectFrom: help/ticket
redirectTo: faqs/ticket
---

<main class="mx-auto py-2 sm:py-4 lg:container">
  <h1 class="text-4xl lg:text-6xl font-bold">{{ title }}</h1>

  <iframe 
    title="Bible in One Year Support Request"
    class="w-full h-screen"
    src="https://forms.office.com/pages/responsepage.aspx?id=QcrXgkryfkqhw4mEe7bb3BkVPaxMSPBDkMOC8IhYIr9URU9SN0NWTFlFSzkyVjFEMjY0SzVGMjZWWC4u"
    allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></iframe>

</main>