---
layout: page
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/faqs/ticket/index.html"
activePage: faqs
title: "Ask a question about BWBPG"
redirectFrom: help/ticket
redirectTo: faqs/ticket
---

<main class="mx-auto py-2 sm:py-4 lg:container">
  <h1 class="text-4xl lg:text-6xl font-bold">{{ siteLocal[locale].ticket.title }}</h1>
  <div>
    {{ siteLocal[locale].ticket.form.code | safe }}
  </div>
</main>