<section
  class="lg:container mx-auto p-4"
  x-data="app.mediumViewModel"
  x-init="init()"
  id="start"
>
  <div class="relative lg:rounded">
    <div
      class="flex flex-col items-stretch"
      style="min-height: 30rem"
      x-ref="mediaContainer"
    >
      {% for medium in channels[locale].distribution %}
        <div
        class="relative bg-cover bg-center w-full bioy-medium"
        x-show="mediaFocus === {{ loop.index0 }}"
      >
          {% if medium.image %}
            {% blockImage medium.image , "reader",
        "(min-width: 1526px) calc(1536px - 2rem), (min-width: 1280px)
        calc(1280px - 2rem), (min-width: 1024px) calc(1024px - 2rem), calc(100vw
        - 2rem)", "object-cover h-full w-full absolute filter saturate-0
        lg:rounded-lg rtl:transform rtl:-scale-x-1" %}
          {% endif %}

          <div
          class="
            flex flex-col
            justify-center
            relative
            h-full
            bg-red bg-opacity-80
            text-white
            pl-28
            pr-4
            py-6
            md:pl-36
            rtl:pl-0 rtl:pr-36
            lg:rounded-lg
          "
        >
            {% if medium.channel !== 'Podcast' %}
              <div class="max-w-xs">

                <h4 class="text-xl font-bold mb-3">
                  {{ medium.channel }}
                </h4>
                {% if medium.description %}
                  {{ medium.description | markdown | safe }}
                {% endif %}

                {% if medium.cta %}
                  {{ medium.cta.code | safe }}
                {% endif %}

              </div>
            {% else %}
              <div class="max-w-xs md:max-w-md lg:max-w-2xl">
                <div class="lg:max-w-xl">
                  <h4 class="text-xl font-bold mb-3">Podcast</h4>
                  <p>Subscribe and listen to Bible in One Year delivered to your favourite podcast app everyday.</p>
                </div>
                <div class="md:flex md:items-center md:justify-center lg:hidden mt-4">
                  <div class="relative md:max-w-xs">
                    <div class="flex items-center justify-between w-full absolute">
                      <button class="flex items-center justify-center z-10" id="previous">{% svgSprite name = "back",
                        class = "h-8 w-8" %}</button>
                      <button class="flex items-center justify-center z-10" id="next">{% svgSprite name = "forward",
                        class = "h-8 w-8" %}</button>
                    </div>
                    <div id="podcast" class="relative overflow-hidden invisible flex flex-col max-w-xs">
                      <div class="relative overflow-hidden flex items-center">

                        {% for podcast in podcastUrls.collection %}
                          <div class="relative float-left w-full overflow-hidden">
                            <div class="space-y-3">
                              <p class="text-center font-bold">{{podcast.edition}}</p>
                              <button class="podcast-link">
                                <a href="{{ podcast.spotify }}">{% svgSprite name="spotify-podcasts", class="h-8 w-8" %}</a>
                                <span>Spotify</span></button>
                              <button class="podcast-link">
                                <a href="{{ podcast.apple }}">{% svgSprite name="apple-podcasts", class="h-8 w-8" %}</a>
                                <span>Apple Podcasts</span></button>
                              <button class="podcast-link">
                                <a href="{{ podcast.google }}">{% svgSprite name="google-podcasts", class="h-8 w-8" %}</a>
                                <span>Google Podcasts</span></button>
                            </div>
                          </div>
                        {% endfor %}

                      </div>
                    </div>

                    <div class="flex items-center justify-center space-x-1 mt-4">
                      <button id="firstPodcastPagination" class="rounded-full h-4  w-4 flex items-center justify-center border-2 hover:bg-white"></button>
                      <button id="secondPodcastPagination" class="rounded-full h-4  w-4 flex items-center justify-center border-2 hover:bg-white"></button>
                      <button id="thirdPodcastPagination" class="rounded-full h-4  w-4 flex items-center justify-center border-2 hover:bg-white"></button>
                    </div>
                  </div>
                </div>
                <div class="hidden lg:flex lg:space-x-9">
                  {% for podcast in podcastUrls.collection %}
                    <div>
                      <div class="space-y-3">
                        <p class="font-bold">{{podcast.edition}}</p>
                        <a href="{{ podcast.spotify }}" class="podcast-link">{% svgSprite name="spotify-podcasts", class="h-8 w-8" %}
                          <span>Spotify</span>
                        </a>
                        <button class="podcast-link">
                          <a href="{{ podcast.apple }}">{% svgSprite name="apple-podcasts", class="h-8 w-8" %}</a>
                          <span class="">Apple Podcasts</span></button>
                        <button class="podcast-link">
                          <a href="{{ podcast.google }}">{% svgSprite name="google-podcasts", class="h-8 w-8" %}</a>
                          <span>Google Podcasts</span></button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div
      class="
        hidden
        top-0
        h-full
        flex flex-col
        absolute
        w-24
        fill-current
        text-red
      "
      x-ref="mediaNav"
    >
      <button
        class="
          flex-1 flex flex-col
          items-center
          justify-center
          bg-opacity-90
          lg:rounded-tl-lg
          lg:rtl:rounded-tr-lg
          lg:rtl:rounded-tl-none
        "
        :class="mediaClass(0)"
        @click="mediaFocus = 0"
        style="min-height: 6rem"
      >
        {% svgSprite name="medium_app", class="fill-current h-10 w-10 mb-1" %}
        <div>{{ channels[locale].distribution[0].channel }}</div>
      </button>
      <button
        class="flex-1 flex flex-col items-center justify-center bg-opacity-90"
        :class="mediaClass(1)"
        @click="mediaFocus = 1"
        style="min-height: 6rem"
      >
        {% svgSprite name="medium_email", class="fill-current h-10 w-10 mb-1" %}
        <div>{{ channels[locale].distribution[1].channel }}</div>
      </button>
      <button
        class="flex-1 flex flex-col items-center justify-center bg-opacity-90"
        :class="mediaClass(2)"
        @click="mediaFocus = 2"
        style="min-height: 6rem"
      >
        {% svgSprite name="medium_podcast", class="fill-current h-10 w-10 mb-1" %}
        <div>{{ channels[locale].distribution[2].channel }}</div>
      </button>
      <button
        class="
          flex-1 flex flex-col
          items-center
          justify-center
          bg-opacity-90
        "
        :class="mediaClass(3)"
        @click="mediaFocus = 3"
        style="min-height: 6rem"
      >
        {% svgSprite name="medium_website", class="fill-current h-10 w-10 mb-1"
        %}
        <div>{{ channels[locale].distribution[3].channel }}</div>
      </button>

      <button
        class="flex-1 flex flex-col items-center justify-center bg-opacity-90 lg:rounded-bl-lg lg:rtl:rounded-br-lg lg:rtl:rounded-bl-none"
        :class="mediaClass(4)"
        @click="mediaFocus = 4"
        style="min-height: 6rem"
      >
        {% svgSprite name="medium_book", class="fill-current h-10 w-10 mb-1" %}
        <div>{{ channels[locale].distribution[4].channel }}</div>
      </button>
    </div>
  </div>
</section>