<div id="cta" class="text-center bg-stone px-4 py-8 mb-4 lg:mb-8">

  <h2 class="text-red font-bold text-2xl lg:text-3xl">
    {{ cta[locale].title }}
  </h2>

  <div class="max-w-sm grid gap-4 grid-cols-2 mx-auto my-2">
    <a href="{{ globals.stores.ios }}" class="block" target="_blank" rel="noopener">
      {% svgSprite name="app-store-ios", class="h-16 w-full sm:w-48" %}
      <span class="visually-hidden">{{ cta[locale].ios }}</span>
    </a>
    <a href="{{ globals.stores.android }}" class="block" target="_blank" rel="noopener">
      {% svgSprite name="app-store-android", class="h-16 w-full sm:w-48" %}
      <span class="visually-hidden">{{ cta[locale].android }}</span>
    </a>
  </div>

  <p class="max-w-screen-md mx-auto text-grey">
    {{ cta[locale].sub_title }}
    {# <a href="/{{ locale }}#start" class="underline block">{{ cta[locale].more }}</a> #}
  </p>

</div>