---
pagination:
  data: globals.locales
  size: 1
  alias: locale
---

<div id="cta" class="px-4 py-8 mb-4 text-center bg-stone lg:mb-8">
  <h2 class="text-2xl font-bold text-red lg:text-3xl">{{ cta[locale].title }}</h2>
  <div class="grid max-w-sm grid-cols-2 gap-4 mx-auto my-2">
    <a href="{{ globals.stores.ios }}"
       class="block"
       target="_blank"
       rel="noopener">
      {% svgSprite name="app-store-ios", class="w-full h-16 sm:w-48" %}
      <span class="visually-hidden">{{ cta[locale].ios }}</span>
    </a>
    <a href="{{ globals.stores.android }}"
       class="block"
       target="_blank"
       rel="noopener">
      {% svgSprite name="app-store-android", class="w-full h-16 sm:w-48" %}
      <span class="visually-hidden">{{ cta[locale].android }}</span>
    </a>
  </div>
  <p class="max-w-screen-md mx-auto text-grey">
    {{ cta[locale].sub_title }}
    {# <a href="/{{ locale }}#start" class="block underline">{{ cta[locale].more }}</a> #}
  </p>
</div>
