<section class="my-8">
  <p class="mx-auto px-4 w-full max-w-screen-md text-center text-xl lg:text-3xl">
    {{ editions[locale].intro }}
  </p>

  <div class="grid xs:grid-cols-3 gap-2 mx-auto p-4 w-full md:max-w-sm">
    <a class="whiteButton w-full text-center" href="/{{ locale }}/classic">{{
      editions[locale].classic
    }}</a>
    <a class="whiteButton w-full text-center" href="/{{ locale }}/youth">{{
      editions[locale].youth
    }}</a>
    <a class="whiteButton w-full text-center" href="/{{ locale }}/express">{{
      editions[locale].express
    }}</a>
  </div>
</section>
