---
pagination:
  data: globals.locales
  size: 1
  alias: locale
---

{% if testimonials[locale].collection and  testimonials[locale].collection | length %}
  <div x-data="testimonialsSlider" class="w-full py-6 mb-4">
    <div x-ref="slider"
         class="relative invisible w-4/5 py-6 mx-auto overflow-hidden border-t-4 border-b-4 border-red md:max-w-sm">
      <div class="relative flex items-center overflow-hidden">
        {% for item in testimonials[locale].collection %}
          <div class="relative float-left w-full overflow-hidden text-center text-black">
            <p class="mb-3 text-xl font-bold">
              {% if item.quote %}{{ item.quote }}{% endif %}
            </p>
            <div class="text-lg">
              {% if item.source %}{{ item.source }}{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
