<section
  class="grid grid-cols-2"
  x-data="todayBlock()"
  x-init="setLink('{{ locale }}', '{{ variant }}')"
>
  <div class="flex flex-col justify-center bg-red text-white p-4 lg:px-12">
    <div class="flex flex-col items-start lg:max-w-md self-end w-full">
      <h2 class="text-2xl font-bold mb-6 lg:text-3xl">
        {{ today[locale].title }}
      </h2>

      <p class="mb-16">{{ today[locale].intro }} {{ globals.today }}.</p>

      <a
        :href="link"
        href="/{{ locale }}/{{ variant }}/{{ globals.today }}"
        class="whiteButton px-4"
      >
        {{ today[locale].cta }}
      </a>
    </div>
  </div>

  <div>
    {% blockImage today[locale].image, "reader", "(min-width: 30em) ",
    "object-cover h-full w-full" %}
  </div>
</section>

<script>
  var todayBlock = function () {
    return {
      link: null,

      setLink(locale, variant) {
        var now = new Date();
        var start = new Date(now.getFullYear(), 0, 0);
        var diff = now - start;
        var oneDay = 1000 * 60 * 60 * 24;
        var day = Math.floor(diff / oneDay);

        this.link = `/${locale}/${variant}/${day}`;
      },
    };
  };
</script>
