<section id="todays-devotion"
         class="flex flex-col-reverse sm:grid sm:grid-cols-2">
  <div class="flex flex-col justify-center p-4 text-white bg-red md:py-8 lg:px-12">
    <div class="flex flex-col items-start self-end w-full lg:max-w-md">
      <h2 class="mb-6 text-2xl font-bold lg:text-3xl">{{ today[locale].title }}</h2>
      {% for d in cms | devotionList(locale, variant) | reverse %}
        {% if loop.index <= 6 %}
          {% if loop.first %}
            <p class="mb-6">
              <span class="inline-block p-2 mb-1 text-sm uppercase bg-white rounded-sm text-red">{{ today[locale].today }}</span>
              <a href="{{ d.url }}" class="block underline">{{ today[locale].day }}
              {{ d.number }}: {{ d.bundle.title }}</a>
              <span class="text-xs">{{ d.bundle.wisdom.passage.reference }} &middot; {{ d.bundle.newTestament.passage.reference }} &middot; {{ d.bundle.oldTestament.passage.reference }}</span>
            </p>
          {% else %}
            <p>
              <a href="{{ d.url }}" class="underline">{{ today[locale].day }}
              {{ d.number }}: {{ d.bundle.title }}</a>
            </p>
          {% endif %}
        {% endif %}
      {% endfor %}
      <p class="mt-4">
        {{ today[locale].cta_teaser }}
        <a class="underline" href="#start">{{ today[locale].cta }}</a>
      </p>
    </div>
  </div>
  <div>
    {% if today[locale].image %}
      {% blockImage today[locale].image, "reader", "(min-width: 640px) 50vw, 100vw",
      "object-cover h-full w-full" %}
    {% endif %}
  </div>
</section>
