<!DOCTYPE html>
<html lang="{{ locale }}" {% if locale == 'ar'%}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

    <link rel="preload" href="/assets/css/app.css" as="style">
    <link rel="preload" href="/assets/fonts/ITCAvantGardeStd-Md.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/ITCAvantGardeStd-Demi.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/ITCAvantGardeStd-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <link
      rel="stylesheet"
      href="/assets/css/app.css"
      media="screen"
      type="text/css"
    />

    <link rel="shortcut icon" href="/assets/icon/favicon.ico" />
    {% include 'partials/meta.njk' %}
  </head>

  <body
    x-data="{ 'isLangPickerOpen': false }"
    @keydown.escape="isLangPickerOpen = false"
  >
    {% include 'partials/header.njk' %}

    <main class="">
      {{ layoutContent | safe }}
    </main>

    {% include 'partials/footer.njk' %}

    {% if page.url != '/' %}
    <!-- scrim -->
    <div
      class="overflow-auto"
      x-show="isLangPickerOpen"
      :class="{ 'bg-black bg-opacity-70 fixed inset-0 z-10 flex items-start justify-center': isLangPickerOpen }"
    >
      <!-- dialog -->
      <div
        class="shadow-2xl w-full m-8 md:max-w-sm bg-white border-t-4 border-red py-8 px-4 rounded"
        x-show="isLangPickerOpen"
        @click.away="isLangPickerOpen = false"
      >
        <h2 class="text-xl md:text-2xl text-red font-bold mb-2">
          {{ site.switcher.title }}
        </h2>
        <p class="text-grey mb-4">
          {{ site.switcher.subTitle }}
        </p>
        <ul>
          {% for lang in globals.languages %}
          <li class="mb-4">
            <a class="text-red underline" href="/{{ lang.locale }}">{{
              lang.language
            }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <script src="/assets/js/app.js"></script>
    <!-- last build: {{ globals.env }} | {{ globals.buildTime }} -->
  </body>
</html>
