@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

  /* Input Range Default Styles */
  input[type='range'] {
    @apply appearance-none border-none bg-transparent outline-none;
  }
  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none;
  }

  input[type='range']:focus {
    @apply outline-none;
  }

  input[type='range']::-ms-track {
    @apply w-full cursor-pointer border-none bg-transparent;
  }

  input[type='range']::-webkit-slider-thumb {
    @apply -mt-1 h-3 w-3 cursor-pointer appearance-none rounded-full border-none bg-red;
  }
  input[type='range']::-moz-range-thumb {
    @apply h-3 w-3 cursor-pointer appearance-none rounded-full border-none bg-red;
  }
  input[type='range']::-ms-thumb {
    @apply h-3 w-3 cursor-pointer appearance-none rounded-full border-none bg-red;
  }

  input[type='range']::-webkit-slider-runnable-track {
    @apply h-1 w-full cursor-pointer bg-white;
  }
  input[type='range']::-moz-range-track {
    @apply h-1 w-full cursor-pointer bg-white;
  }
  input[type='range']::-ms-track {
    @apply h-1 w-full cursor-pointer bg-white;
  }
  input[type='range']::-ms-fill-lower {
    @apply bg-red;
  }
  input[type='range']::-ms-fill-upper {
    @apply bg-red;
  }
  input[type='range']::-moz-range-progress {
    @apply bg-red;
  }
  /* WebKit does not support progress styling https://dev.to/munkacsimark/styled-range-input-a-way-out-of-range-input-nightmare-jeo */
  input[type='range'] {
    --webkitProgressPercent: 0%;
  }
  input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
      90deg,
      theme('colors.red.DEFAULT') var(--webkitProgressPercent),
      #e5e5e5 var(--webkitProgressPercent)
    );
  }

  [dir='rtl'] input[type='range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(
      -90deg,
      theme('colors.red.DEFAULT') var(--webkitProgressPercent),
      #e5e5e5 var(--webkitProgressPercent)
    );
  }

  /* Input Range Default Styles */
}

@layer components {
  .btn {
    @apply rounded p-2 no-underline transition-colors;
  }

  .whiteButton {
    @apply inline-block rounded border border-red bg-white p-2 text-red transition-colors;
  }

  .whiteButton:hover {
    @apply border-red-dark bg-red-dark text-white;
  }

  .standoutQuote {
    @apply relative pl-3 italic;
    quotes: '\201C' '\201D' '\2018' '\2019';
  }

  .standoutQuote:before,
  .standoutQuote:after {
    @apply text-2xl not-italic text-red;
  }

  .standoutQuote:before {
    content: open-quote;
    line-height: 0;
  }

  .standoutQuote:after {
    content: close-quote;
    line-height: 0;
  }

  .title {
    @apply text-title font-bold text-black md:text-title-medium lg:text-title-large;
  }
  .subtitle {
    @apply text-subtitle font-normal text-black md:text-subtitle-medium lg:text-subtitle-large;
  }
  .prose {
    @apply text-black;
  }
  /* use this when prose becomes a pain */
  .alt-prose p {
    @apply mt-4 text-black;
  }
  .alt-prose a {
    @apply font-medium underline;
  }

  .podcast-link {
    @apply flex w-full items-center space-x-4 rounded border px-3 py-2 text-sm text-white hover:border-white hover:bg-white hover:text-red hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-red focus:ring-offset-2 rtl:space-x-reverse;
  }

  .podcast-pagination {
    @apply flex h-4 w-4 items-center justify-center rounded-full border-2 hover:bg-white;
  }

  .audio__icons {
    @apply h-6 w-1/2 sm:h-8 md:h-10;
  }
  .audio__controls {
    @apply webkit-tap-highlight-color flex h-8 w-8 items-center justify-center rounded-full transition duration-100 ease-out focus-within:bg-red/10 hover:bg-red/10 hover:ease-in focus:bg-transparent focus:outline-none focus:ring-red/10 focus-visible:ring active:bg-red/20 active:ease-in disabled:cursor-not-allowed disabled:hover:bg-transparent sm:h-12 sm:w-12 md:h-14 md:w-14;
  }

  [x-cloak] {
    @apply hidden;
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .bioy-medium p {
    @apply my-2;
  }

  .bioy-medium a {
    @apply underline;
  }

  .bioy-medium ul {
    @apply list-disc;
  }

  .bioy-medium li {
    @apply ml-4 list-outside;
  }

  .u-bannerImage {
    clip-path: url(#headerMobile);
  }

  [dir='rtl'] .u-bannerImage {
    clip-path: url(#headerMobile-rtl);
  }

  @screen md {
    .u-bannerImage {
      clip-path: url(#headerDesktop);
    }

    [dir='rtl'] .u-bannerImage {
      clip-path: url(#headerDesktop-rtl);
    }
  }

  @screen sm {
    .u-NandPclipper {
      clip-path: url(#NandPclipper);
    }

    [dir='rtl'] .u-NandPclipper {
      clip-path: url(#NandPclipper-rtl);
    }
  }

  @responsive {
    .text-auto {
      text-align: initial;
    }
  }
  div.mce_inline_error {
    @apply text-red;
  }

  .mce_inline_error {
    @apply !text-red;
  }
  input.mce_inline_error {
    @apply !border-red;
  }
}

[dir='rtl'] .prose ul > li,
[dir='rtl'] .prose ol > li {
  @apply pl-0 pr-7;
}

[dir='rtl'] .prose ul > li:before,
[dir='rtl'] .prose ol > li:before {
  @apply left-auto right-0;
}

[dir='rtl'] .prose blockquote {
  @apply border-l-0 pl-0 pr-2;
  border-right-width: 0.25rem;
  border-right-color: #e5e7eb;
}

.webkit-tap-highlight-color {
  -webkit-tap-highlight-color: transparent;
}

#FA__QP__BODYWRAPPERDIV input[type='checkbox'] {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}
