@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

  @font-face {
    font-family: "AvantGardeGothicITC";
    src: url("/assets/fonts/ITCAvantGardeStd-Md.eot");
    src: url("/assets/fonts/ITCAvantGardeStd-Md.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ITCAvantGardeStd-Md.woff2") format("woff2"),
      url("/assets/fonts/ITCAvantGardeStd-Md.woff") format("woff"),
      url("/assets/fonts/ITCAvantGardeStd-Md.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "AvantGardeGothicITC";
    src: url("/assets/fonts/ITCAvantGardeStd-Demi.eot");
    src: url("/assets/fonts/ITCAvantGardeStd-Demi.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ITCAvantGardeStd-Demi.woff2") format("woff2"),
      url("/assets/fonts/ITCAvantGardeStd-Demi.woff") format("woff"),
      url("/assets/fonts/ITCAvantGardeStd-Demi.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "AvantGardeGothicITC";
    src: url("/assets/fonts/ITCAvantGardeStd-Bold.eot");
    src: url("/assets/fonts/ITCAvantGardeStd-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/ITCAvantGardeStd-Bold.woff2") format("woff2"),
      url("/assets/fonts/ITCAvantGardeStd-Bold.woff") format("woff"),
      url("/assets/fonts/ITCAvantGardeStd-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .standoutQuote {
    @apply relative pl-3 italic;
    quotes: "\201C""\201D""\2018""\2019";
  }

  .standoutQuote:before,
  .standoutQuote:after {
    @apply text-red text-2xl not-italic;
  }

  .standoutQuote:before {
    content: open-quote;
    line-height: 0;
  }

  .standoutQuote:after {
    content: close-quote;
    line-height: 0;
  }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .u-bannerImage {
    clip-path: url(#headerMobile);
  }

  @screen md {
    .u-bannerImage {
      clip-path: url(#headerDesktop);
    }
  }

  @screen sm {
    .u-NandPclipper {
      clip-path: url(#NandPclipper);
    }
  }
}
