---
title: Donation successfull
locale: en
layout: page
permalink: "{{ locale }}/donate/app/success/index.html"
---

<main class="mx-auto py-2 sm:py-4 lg:container">
    <h1 class="title">{{ title }}</h1>