---
layout: landing
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/30days/index.html"
---

{% include "./blocks/links.njk" %}
{% include "./blocks/promote.njk" %}
