---
layout: page
pagination:
  data: cms
  size: 1
  alias: devotion
permalink: "{{ devotion.url }}/index.html"
activePage: devotion
eleventyComputed:
  title: "{{ devotion.bundle.title }}"
  locale: "{{ devotion.locale }}"
  description: "{{ devotion.bundle.introduction | striptags | truncate }}"
  variant: "{{ devotion.variant }}"
  canonical: "/{{ devotion.locale }}/classic/{{ devotion.number }}"
---

<article class="mx-auto break-words max-w-prose font-commentary">
    <div class="mx-10 prose lg:prose-xl ">
        <div class="mt-24">
            <span class="text-xl text-red">
                {% if lang.day %}{{ lang.day }}{% endif %}
                {% if devotion.number %}{{ devotion.number }}{% endif %}
            </span>
        </div>
        <div class="mt-2">
            <h1 class="text-xl">
                {% if devotion.bundle.title %}{{ devotion.bundle.title }}{% endif %}
            </h1>
        </div>
        <div class="mt-32">
            {% if todaysReading %}<h2>{{ todaysReading }}</h2>{% endif %}
            <div class="flex flex-col">
                <span class="h-6 text-red">
                    {% if lang.wisdom %}{{ lang.wisdom }}{% endif %}
                </span>
                <span>
                    {% if devotion.bundle.wisdom.passage.reference %}{{ devotion.bundle.wisdom.passage.reference }}{% endif %}
                </span>
            </div>
            <div class="flex flex-col mt-2">
                <span class="h-6 text-red">
                    {% if lang.newTestament %}{{ lang.newTestament }}{% endif %}
                </span>
                <span>
                    {% if devotion.bundle.newTestament.passage.reference %}{{ devotion.bundle.newTestament.passage.reference }}{% endif %}
                </span>
            </div>
            <div class="flex flex-col mt-2">
                <span class="h-6 text-red">
                    {% if lang.oldTestament %}{{ lang.oldTestament }}{% endif %}
                </span>
                <span>
                    {% if devotion.bundle.oldTestament.passage.reference %}{{ devotion.bundle.oldTestament.passage.reference }}{% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="mx-10 mb-8 prose lg:prose-xl">
        <div class="mt-16">
            <h2>
                {% if lang.introduction %}{{ lang.introduction }}{% endif %}
            </h2>
        </div>
        {% if devotion.bundle.introduction %}{{ devotion.bundle.introduction | markdown | safe }}{% endif %}
    </div>
    {% devotionSection
    title = lang.wisdom,
    commentary = lang.commentary,
    prayerTitle = lang.prayer,
    passage = devotion.bundle.wisdom.passage,
    comment = devotion.bundle.wisdom.comment,
    prayer = devotion.bundle.wisdom.prayer
    %}
    {% devotionSection
    title = lang.newTestament,
    commentary = lang.commentary,
    prayerTitle = lang.prayer,
    passage = devotion.bundle.newTestament.passage,
    comment = devotion.bundle.newTestament.comment,
    prayer = devotion.bundle.newTestament.prayer
    %}
    {% devotionSection
    title = lang.oldTestament,
    commentary = lang.commentary,
    prayerTitle = lang.prayer,
    passage = devotion.bundle.oldTestament.passage,
    comment = devotion.bundle.oldTestament.comment,
    prayer = devotion.bundle.oldTestament.prayer
    %}
    <section class="p-4 mx-10 mb-4 prose lg:prose-xl bg-stone">
        <h2>
            {% if lang.pippaAdds %}{{ lang.pippaAdds }}{% endif %}
        </h2>
        {% if devotion.bundle.pippa %}{{ devotion.bundle.pippa | markdown | safe }}{% endif %}
    </section>
    <div class="grid gap-4 mx-10 mb-4">
        {% if devotion.bundle.verseOfTheDay.verse %}
            <section class="p-4 prose lg:prose-xl bg-stone">
                <h2 class="mt-0">
                    {% if lang.verseOfTheDay %}{{ lang.verseOfTheDay }}{% endif %}
                </h2>
                <h3>
                    {% if devotion.bundle.verseOfTheDay.reference %}{{ devotion.bundle.verseOfTheDay.reference }}{% endif %}
                </h3>
                {% if devotion.bundle.verseOfTheDay.verse %}{{ devotion.bundle.verseOfTheDay.verse | markdown | safe }}{% endif %}
            </section>
        {% endif %}
        {% if devotion.bundle.thoughtForTheDay %}
            <section class="p-4 prose lg:prose-xl bg-stone">
                <h2 class="mt-0">Thought for the Day</h2>
                {{ devotion.bundle.thoughtForTheDay | markdown | safe }}
            </section>
        {% endif %}
        {% if devotion.bundle.actionForTheDay > 0 %}
            <section class="p-4 prose lg:prose-xl bg-stone">
                <h2 class="mt-0">Action for the Day</h2>
                {{ devotion.bundle.actionForTheDay | markdown | safe }}
            </section>
        {% endif %}
    </div>
    {% include "../_blocks/channels.njk" %}
    <section class="py-4 mx-10 prose lg:prose-xl">
        <h2>
            {% if lang.references %}{{ lang.references }}{% endif %}
        </h2>
        <div class="prose-sm">
            {% if devotion.bundle.references %}{{ devotion.bundle.references | markdown | safe }}{% endif %}
        </div>
    </section>
</article>
<div>
    {% if devotion.number > 1 and globals.today >= devotion.number %}
        <div class="fixed top-0 left-0 flex items-center h-screen p-4">
            <a href="/{{ locale }}/{{ variant }}/{{ devotion.number - 1 }}"
               title="Previous"
               class="transition-colors bg-white rounded-full shadow-lg hover:text-red">
                {% svgSprite name="back", class="relative -left-0.5 fill-current h-8 w-8 md:h-12 md:w-12" %}
            </a>
        </div>
    {% endif %}
    {% if devotion.number < 365 and globals.today > devotion.number %}
        <div class="fixed top-0 right-0 flex items-center h-screen p-4">
            <a href="/{{ locale }}/{{ variant }}/{{ devotion.number + 1 }}"
               title="Next"
               class="transition-colors bg-white rounded-full shadow-lg hover:text-red">
                {% svgSprite name="forward", class="relative left-0.5 fill-current h-8 w-8 md:h-12 md:w-12" %}
            </a>
        </div>
    {% endif %}
</div>
{% if devotion.bundle.audio.url %}
    <div class="container fixed left-0 right-0 px-4 mx-auto lg:max-w-2xl bottom-24 md:bottom-11">
        {% set audio = devotion.bundle.audio %}
        {% set audio_chapters = devotion.bundle.audioChapters %}
        {% include "partials/audio-player.njk" %}
    </div>
{% endif %}
