---
layout: page
pagination:
  data: bioy
  size: 1
  alias: devotion
permalink: "{{ devotion.url }}/index.html"
activePage: devotion
eleventyComputed:
  title: "{{ devotion.title }}"
  locale: "{{ devotion.locale }}"
  description: "{{ devotion.introduction | striptags | truncate }}"
  variant: "{{ devotion.variant }}"
  canonical: "/{{ devotion.locale }}/classic/{{ devotion.devotionId }}"
---

<article class="max-w-prose mx-auto font-commentary break-words">
  <div class="mx-10 prose lg:prose-xl ">
    <div class="mt-24">
      <span class="text-xl text-red">{{ lang.day }}
        {{ devotion.devotionId }}</span>
    </div>
    <div class="mt-2">
      <h1 class="text-xl">{{ devotion.title }}</h1>
    </div>

    <div class="mt-32">
      <h2>{{ todaysReading }}</h2>
      <div class="flex flex-col">
        <span class="text-red h-6">{{ lang.wisdom }}</span>
        <span>{{ devotion.wisdom.reference }}</span>
      </div>
      <div class="flex flex-col mt-2">
        <span class="text-red h-6">{{ lang.newTestament }}</span>
        <span>{{ devotion.newTestament.reference }}</span>
      </div>
      <div class="flex flex-col mt-2">
        <span class="text-red h-6">{{ lang.oldTestament }}</span>
        <span>{{ devotion.oldTestament.reference }}</span>
      </div>
    </div>
  </div>

  <div class="mx-10 prose lg:prose-xl mb-8">
    <div class="mt-16">
      <h2>{{ lang.introduction }}</h2>
    </div>

    {{ devotion.introduction|safe }}
  </div>

  {% devotionSection
  title = lang.wisdom,
  commentary = lang.commentary,
  prayerTitle = lang.prayer,
  reference = devotion.wisdom.reference,
  text = devotion.wisdom.text,
  comment = devotion.wisdom.comment,
  prayer = devotion.wisdom.prayer
 %}

  {% devotionSection
  title = lang.newTestament,
  commentary = lang.commentary,
  prayerTitle = lang.prayer,
  reference = devotion.newTestament.reference,
  text = devotion.newTestament.text,
  comment = devotion.newTestament.comment,
  prayer = devotion.newTestament.prayer
 %}

  {% devotionSection
  title = lang.oldTestament,
  commentary = lang.commentary,
  prayerTitle = lang.prayer,
  reference = devotion.oldTestament.reference,
  text = devotion.oldTestament.text,
  comment = devotion.oldTestament.comment,
  prayer = devotion.oldTestament.prayer
 %}

  <section class="prose lg:prose-xl mx-10 bg-stone p-4 mb-4">
    <h2>{{lang.pippaAdds}}</h2>
    {{ devotion.pippa|safe }}
  </section>

  <div class="mx-10 mb-4 grid gap-4 md:grid-cols-3">
    <section class="prose lg:prose-xl bg-stone p-4">
      <h2 class="mt-0">{{lang.verseOfTheDay}}</h2>
      <h3>{{devotion.verseOfTheDayReference}}</h3>
      {{ devotion.verseOfTheDay|safe }}
    </section>

    {% if devotion.thoughtForTheDay %}
      <section class="prose lg:prose-xl bg-stone p-4">
        <h2 class="mt-0">Thought for the Day</h2>
        {{ devotion.thoughtForTheDay |safe }}
      </section>
    {% endif %}

    {% if devotion.actionForTheDay %}
      <section class="prose lg:prose-xl bg-stone p-4">
        <h2 class="mt-0">Action for the Day</h2>
        {{ devotion.actionForTheDay |safe }}
      </section>
    {% endif %}
  </div>

  {% include '../_blocks/channels.njk' %}

  <section class="mx-10 py-4 prose lg:prose-xl">
    <h2>References</h2>
    <div class="prose-sm">
      {{ devotion.references|safe }}
    </div>
  </section>
</article>

<div class="">
  {% if devotion.devotionId > 1 and globals.today >= devotion.devotionId %}
    <div class="top-0 left-0 p-4 flex items-center h-screen fixed">
      <a href="/{{ locale }}/{{ variant }}/{{ devotion.devotionId - 1 }}" title="Previous" class="bg-white shadow-lg rounded-full hover:text-red transition-colors">
        {% svgSprite name="back", class="relative -left-0.5 fill-current h-8 w-8 md:h-12 md:w-12" %}
      </a>
    </div>
  {% endif %}

  {% if devotion.devotionId < 365 and globals.today > devotion.devotionId %}
    <div class="top-0 right-0 p-4 flex items-center h-screen fixed">
      <a href="/{{ locale }}/{{ variant }}/{{ devotion.devotionId + 1 }}" title="Next" class="bg-white shadow-lg rounded-full hover:text-red transition-colors">
        {% svgSprite name="forward", class="relative left-0.5 fill-current h-8 w-8 md:h-12 md:w-12" %}
      </a>
    </div>
  {% endif %}
</div>

<div  class="max-w-2xl mx-auto">
  {% set audio = devotion.audio %}
  {% include 'partials/audio-player.njk' %}
</div>