<section class="bg-red">
    <div class="container px-4 py-24 mx-auto text-center text-white">
        <div class="max-w-[708px] mx-auto font-jakarta font-normal text-2xl">
            <p>
                This accessible and engaging Bible plan is available in video, audio, and written formats, featuring 30 key messages that allow you to unpack the Bible with Nicky Gumbel in just one month. Journey from creation to the cross, exploring both the Old and New Testaments.
            </p>
            <p class="mt-8">
                Whether you're exploring the Bible for the first time or simply looking for a fresh perspective, this plan offers a clear, compelling overview of the world’s bestselling book.
            </p>
        </div>
    </div>
</section>
