<section class="bg-red pb-[150px] pt-[70px]">
    <div class="container mx-auto font-jakarta px-4">
        <h3 class="text-center text-[48px] text-white font-semibold">Available on</h3>
        <div class="mx-auto mt-16 flex items-center justify-center">
            <div class="flex gap-16 font-semibold leading-4 text-[35px] text-white flex-wrap px-4 justify-center">
                <a href="" class="flex items-center gap-x-2">
                    <span>YouVersion</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                </a>
                <a href="" class="flex items-center gap-x-2">
                    <span>YouTube</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
