<section class="bg-red pb-[150px] pt-[70px]">
    <div class="container px-4 mx-auto font-jakarta">
        <h3 class="text-center text-[32px] lg:text-[48px] text-white font-semibold">Available on</h3>
        <div class="flex justify-center items-center mx-auto mt-16">
            <div class="flex gap-16 font-semibold leading-4 text-[20px] lg:text-[35px] text-white flex-wrap px-4 justify-center">
                <a href="https://www.bible.com/organizations/452aa645-ff2c-4a22-81e1-1e51718c5663?utm_source=bnapweb&utm_medium=page&utm_campaign=30days"
                   class="flex gap-x-2 items-center">
                    <span>YouVersion</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                </a>
                <a href="https://www.youtube.com/@alpha_bnap?utm_source=bnapweb&utm_medium=page&utm_campaign=30days"
                   class="flex gap-x-2 items-center">
                    <span>YouTube</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M12 5l7 7-7 7" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
