---
layout: page
title: Oops! Not Found
locale: en
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="text-center mb-4 md:mb-8">
<h1 class="text-xl font-bold mb-4">Sorry, that page doesn't exist</h1>
<a class="no-underline inline-block bg-white text-red border border-red rounded p-2 pb-1.5 hover:bg-red hover:text-white transition-colors" href="/">Go home</a>
</div>

{% include './_blocks/cta.njk' %}
<!-- --------- -->
{% include './_blocks/today.njk' %}
