---
title: Donation Cancelled
layout: landing
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/donate/app/cancelled/index.html"
---
<div class="w-10/12 mx-auto">
    <h1 class="title mb-4 md:text-center">Donation Cancelled</h1>
    <div class="mx-auto prose pros-lg max-w-none md:text-center">
        <p>This donation session has been cancelled. No money has been taken.</p>
    </div>
    <p class="mt-8 text-red text-center">Close this browser window to return to the app.</p>
</div>