---
layout: commentary
pagination:
  data: bioy
  size: 1
  alias: devotion
permalink: "{{ devotion.url }}/index.html"
eleventyComputed:
  title: "{{ devotion.title }}"
  locale: "{{ devotion.locale }}"
---

<article class="prose lg:prose-xl mx-auto font-commentary">
  <h1 class="text-xl">{{ devotion.title }}</h1>

  {{ devotion.introduction|safe }}

  <section>
    <h2>Wisdom: {{ devotion.wisdom.reference }}</h2>

    <div class="font-scripture">
    {{ devotion.wisdom.text|safe }}
    </div>

    {{ devotion.wisdom.comment|safe }}

  </section>

  <section>
    <h2>New Testament: {{ devotion.newTestament.reference }}</h2>

    <div class="font-scripture">
    {{ devotion.newTestament.text|safe }}
    </div>

    {{ devotion.newTestament.comment|safe }}

  </section>

  <section>
    <h2>Old Testament: {{ devotion.oldTestament.reference }}</h2>

    <div class="font-scripture">
    {{ devotion.oldTestament.text|safe }}
    </div>

    {{ devotion.oldTestament.comment|safe }}

  </section>

  <section>
    <h2>Pippa adds</h2>
    {{ devotion.pippa|safe }}
  </section>

  <section>
    <h2>References</h2>
    <div class="prose-sm">
    {{ devotion.references|safe }}
    </div>
  </section>
</article>
