---
layout: commentary
pagination:
  data: bioy
  size: 1
  alias: devotion
permalink: "{{ devotion.url }}/index.html"
eleventyComputed:
  title: "{{ devotion.title }}"
  locale: "{{ devotion.locale }}"
---

<article class="prose lg:prose-xl mx-auto font-commentary">
  <div class="px-4">
    <div class="mt-24">
      <span class="text-xl text-red">{{ lang.day }} {{devotion.devotionId}}</span>
    </div>
    <div class="mt-2">
      <h1 class="text-xl">{{ devotion.title }}</h1>
    </div>

    <div class="mt-32">
      <h2>{{ todaysReading }}</h2>
      <div class="flex flex-col">
        <span class="text-red h-6">{{lang.wisdom}}</span>
        <span>{{devotion.wisdom.reference}}</span>
      </div>
      <div class="flex flex-col mt-2">
        <span class="text-red h-6">{{lang.newTestament}}</span>
        <span>{{devotion.newTestament.reference}}</span>
      </div>
      <div class="flex flex-col mt-2">
        <span class="text-red h-6">{{lang.oldTestament}}</span>
        <span>{{devotion.oldTestament.reference}}</span>
      </div>
    </div>
  </div>

  <div class="px-4">
    <div class="mt-16">
      <h2>{{lang.introduction}}</h2>
    </div>

    {{ devotion.introduction|safe }}

  </div>

  {% devotionSection 
    title=lang.wisdom,
    commentary=lang.commentary,
    prayerTitle=lang.prayer,
    reference=devotion.wisdom.reference,
    text=devotion.wisdom.text,
    comment=devotion.wisdom.comment,
    prayer=devotion.wisdom.prayer
  %}

  {% devotionSection 
    title=lang.newTestament,
    commentary=lang.commentary,
    prayerTitle=lang.prayer,
    reference=devotion.newTestament.reference,
    text=devotion.newTestament.text,
    comment=devotion.newTestament.comment,
    prayer=devotion.newTestament.prayer
  %}

  {% devotionSection 
    title=lang.oldTestament,
    commentary=lang.commentary,
    prayerTitle=lang.prayer,
    reference=devotion.oldTestament.reference,
    text=devotion.oldTestament.text,
    comment=devotion.oldTestament.comment,
    prayer=devotion.oldTestament.prayer
  %}



  <section class="bg-stone p-4">
    <h2>{{lang.pippaAdds}}</h2>
    {{ devotion.pippa|safe }}
  </section>


  <section class="bg-stone p-4 mt-4">
    <h2>{{lang.verseOfTheDay}}</h2>
    <h3>{{devotion.verseOfTheDayReference}}</h3>
    {{ devotion.verseOfTheDay|safe }}
  </section>

  {% if devotion.thoughtForTheDay %}
    <section class="bg-stone p-4 mt-4">
    <h2>Thought for the Day</h2>
    {{ devotion.thoughtForTheDay |safe }}
  </section>
  {% endif %}

  {% if devotion.actionForTheDay %}
    <section class="bg-stone p-4 mt-4">
    <h2>Action for the Day</h2>
    {{ devotion.actionForTheDay |safe }}
  </section>
  {% endif %}


  <section class="p-4">
    <h2>References</h2>
    <div class="prose-sm">
      {{ devotion.references|safe }}
    </div>
  </section>
</article>