---
layout: default
pagination:
  data: site.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/donate/index.html"
---

<main class="container mx-auto p-2 sm:p-4 prose prose-lg">
  <h1>{{ tr.donate.title }}</h1>
  <p>{{ tr.donate.intro }}</p>
</main>

<section class="container mx-auto p-2 sm:p-4 text-center">
  <div id="bbox-root" class="mx-auto prose prose-lg"></div>
  <script type="text/javascript">
    window.bboxInit = function () {
      bbox.showForm("a671a392-c7f3-4c12-aa50-5017f99c21bd");
    };
    (function () {
      var e = document.createElement("script");
      e.async = true;
      e.src = "https://bbox.blackbaudhosting.com/webforms/bbox-min.js";
      document.getElementsByTagName("head")[0].appendChild(e);
    })();
  </script>
</section>
