---
layout: landing
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/index.html"
variant: classic
---

{% include './_blocks/cta.njk' %}
<!-- --------- -->
{% include './_blocks/channels.njk' %}
<!-- --------- -->
{% include './_blocks/editions.njk' %}
<!-- --------- -->
{% include './_blocks/gumbels.njk' %}
<!-- --------- -->
{% include './_blocks/testimonials.njk' %}
<!-- --------- -->
{% include './_blocks/today.njk' %}
