---
layout: default
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/index.html"
---

<header class="py-8">
  <h1 class="text-4xl font-bold">Start everyday in the Bible</h1>
  <h2 class="text-xl font-normal">
    {{ lang.intro | markdown | safe }}
  </h2>
</header>

  {% include 'partials/today.njk' %} 
  
  {% include 'partials/cta.njk' %}

</div>
