---
layout: page
locale: en
---

<section class="p-4 max-w-md">
  <h1 class="text-2xl md:text-4xl mb-2">Bible in One Year</h1>

  <p>BiOY is an easy and accessible way to read and understand the Bible written by Nicky and Pippa Gumbel from HTB Church, London.</p>
</section>

<section class="p-4">
  <h2 class="text-xl md:text-2xl mb-2">Pick your language:</h2>

  <div class="">
    {% for lang in globals.languages %}
    <div class="mr-4">
      <a href="/{{ lang.locale }}" class="underline text-red hover:text-red-dark">{{ lang.language }}</a>
    </div>
    {% endfor %}
  </div>
</section>

<script
  type="text/javascript"
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
