---
layout: default
locale: en_gb
---

Pick language:
<div>
  {% for locale in site.locales %}
    <a href="/{{ locale }}">{{ site[locale].language }}</a>
  {% endfor %}
</div>

{% set locale = 'en_gb' %}
