---
title: Donation Successful
layout: landing
pagination:
  data: globals.locales
  size: 1
  alias: locale
permalink: "{{ locale }}/donate/app/success/index.html"
---
<div class="w-10/12 mx-auto">
  <h1 class="title mb-4 md:text-center">Donation Successful</h1>
  <div class=" mx-auto prose pros-lg max-w-none md:text-center">
    <p>Thank you for your kind donation to the Bible with Nicky and Pippa Gumbel.<br> 
  Your giving will help churches around the world to share the gospel and grow disciples of Jesus.<br>  
  Thank you!</p>
  </div>
  <p class="mt-12 text-red text-center">Close this browser window to return to the app.</p>
</div>