{% set bookmarks = [] %}
{% for chapter in audio.chapters %}
    {% set bookmarks = (bookmarks.push(chapter.start), bookmarks) %}
{% endfor %}

<section x-data="app.audioPlayerModel" x-init="getChapters('{{bookmarks}}')" class="bg-[#F5F5F5] pt-[34px] pb-4 rounded-2xl">
    <div class="max-w-sm md:max-w-md lg:max-w-full mx-auto px-[16px] text-sm md:text-base">
        <div class="flex justify-between text-sm md:text-base font-medium">
            <p>1x</p>
            {% for chapter in audio.chapters %}
                <p x-show="showChapterTitle({{chapter.start}}, {{audio.chapters[loop.index].start}})">
                    {{chapter.title}}
                </p>
            {% endfor %}
        </div>
        <input  x-ref="input" class="w-full mt-[23px]" type="range" min="0" max="100" x-model="range" :value="progress">
        <div class="flex justify-between items-center font-normal mt-[8px]">
            <span x-text="progressTime"></span>
            <span x-text="totalTime"></span>
        </div>
        <div class="mt-[20px]">
            <audio x-ref="audio" preload="metadata">
                <source src="{{audio.url}}" type="audio/mpeg">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="{{audio.url}}">link to the audio</a> instead.</p>
            </audio>
            <div class="grid grid-cols-5 space-x-2">
                <button class="flex" @click="skipBack()" >
                    {% svgSprite name="skip-back", class="audio__icons" %}
                </button>
                <button class="flex"  @click="speedBack()" >
                    {% svgSprite name="speed-back", class="audio__icons" %}
                </button>
                <button class="flex" @click="player()">
                    <template x-if="!isPlaying">
                        {% svgSprite name = "play",
                        class = "audio__icons" %}
                    </template>
                    <template x-if="isPlaying">
                        {% svgSprite name = "pause",
                        class = "audio__icons" %}
                    </template>
                </button>
                <button class="flex"  @click="speedForwards()" >
                    {% svgSprite name="speed-forwards", class="audio__icons" %}
                </button>
                <button class="flex" @click="skipForwards()">
                    {% svgSprite name="skip-forwards", class="audio__icons" %}
                </button>
            </div>
        </div>
    </div>
</section>