<div
  x-data="promo"
  x-ref="promoBanner"
  x-init="init('{{ siteLocal[locale].promo.startDate }}','{{
    siteLocal[locale].promo.endDate
  }}', '{{ siteLocal[locale].promo.promoID }}', '{{ siteLocal[locale].promo.type }}')"
  class="relative isolate z-20 hidden items-center gap-x-6 overflow-hidden bg-red py-2.5 px-6 sm:px-3.5 sm:before:flex-1"
>
  <div class="flex flex-wrap items-center gap-y-2 gap-x-4 text-white">
    <p class="text-sm leading-6">
      <strong class="font-semibold">
        {{ siteLocal[locale].promo.title }}</strong>
      <svg
        viewBox="0 0 2 2"
        class="mx-2 inline h-0.5 w-0.5 fill-current"
        aria-hidden="true"
      >
        <circle cx="1" cy="1" r="1"/></svg
      >{{ siteLocal[locale].promo.text }}
    </p>
    <button
      id="ga-{{  siteLocal[locale].promo.promoID }}-accept"
      @click="donate('{{ siteLocal[locale].promo.ctaUrl }}')"
      class="flex items-center justify-center rounded-full bg-black py-1 px-3.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-grey"
    >
      {{ siteLocal[locale].promo.acceptText }}
      <span class="ml-1" aria-hidden="true">&rarr;</span>
    </button>
  </div>
  <div class="flex flex-1 justify-end mr-2">
    <button id="ga-{{  siteLocal[locale].promo.promoID }}-decline" @click="hidePromo()" type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
      <span class="sr-only">Dismiss</span>
      {% svgSprite name = "x-mark", class="h-6 w-6 text-white" %}
    </button>
  </div>
</div>