<div class="text-center bg-stone px-4 py-8">
  <div class="text-red text-2xl lg:text-4xl">{{ site.cta.title }}</div>
  <div class="max-w-screen-sm grid gap-4 grid-cols-2 mx-auto">
    <a href="{{ globals.stores.ios }}" class="block" target="_blank">
      {% svgSprite name="app-store-ios" %}
      <span class="visually-hidden">Download on the App Store</span>
    </a>
    <a href="{{ globals.stores.android }}" class="block" target="_blank">
      {% svgSprite name="app-store-android" %}
      <span class="visually-hidden">Get it on Google Play</span>
    </a>
  </div>
  <p class="text-grey">{{ site.cta.sub_title }}</p>

  <p class="text-grey">
    <a href="#" class="underline">{{ site.cta.more }}</a
    >.
  </p>
</div>
