<footer class="border-t border-red-500 mt-4 p-4 bg-gray-100">
  <ul class="">
    {% for link in translations.footer[locale].links%}
      <li class="inline pr-4">
        <a href="{{ link.link }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</footer>
