{% set todaysDevotions = [] %}
{% for devotion in bioy %}
  {% if devotion.devotionId == globals.today and devotion.variant == variant %}
    {% set todaysDevotions = (todaysDevotions.push(devotion), todaysDevotions )%}
  {% endif %}
{% endfor %}

<header x-data="devotionBanner" x-init="init('{{ devotion.variant }}')" id="header" class="border-red border-t-4 absolute {% if imageBanner %}bg-gradient-to-b bg-opacity-80 from-black-scrim{% endif %} h-16 text-white top-0 w-full z-10 md:bg-none">
  <h1 class="text-2xl font-medium m-0 -top-1 absolute">
    <a href="/{{ locale }}" class="flex items-center" title="{{ site.title }}">
      {% svgSprite name="bioy-filled", class="fill-current text-red h-16 w-16" %}
      <span class="xs:hidden filter drop-shadow-lg {% if imageBanner %}drop-shadow-lg{% else %}text-black{% endif %}" aria-hidden="true">BiOY</span>
      <span class="hidden xs:inline filter {% if imageBanner %}drop-shadow-lg{% else %}text-black{% endif %}">{{ site.title }}</span>
    </a>
    <div id="switchBanner" class="absolute top-10 inline-flex space-x-1 rtl:space-x-reverse ltr:left-16 rtl:right-16 ">
      {% if devotion %}
        <div class="space-y-1 ltr:w-full" :class="outOfView ? 'rtl:w-full' : ''">
          <button id="editionButton" class="bg-transparent px-2  text-black uppercase" :class="outOfView ? 'text-base w-full space-x-1.5 py-3 flex items-center justify-center' :'border border-red text-xs'" @click="openEdition = !openEdition">
            <span x-show="outOfView">{% svgSprite name="medium_book", class="fill-current h-6 w-6 ltr:mr-2 rtl:ml-2" %}</span>
            {{ devotion.variant }}
          </button>
          <div class="absolute bg-red divide-y-2" :class="outOfView ? 'w-1/2' : ''" x-show="openEdition">
            {% if devotion.variant !== 'classic' %}
              <a href="/{{ locale }}/classic/{{ devotion.devotionId }}" class="block text-white text-xs py-3 pl-2 pr-4">
                <button>{{ editions[locale].classic }}</button>
              </a>
            {% endif %}
            {% if editions[locale].youth and(devotion.variant !== 'youth') %}
              <a href="/{{ locale }}/youth/{{ devotion.devotionId }}" class="block text-white text-xs py-3 pl-2 pr-4">
                <button>{{ editions[locale].youth }}</button>
              </a>
            {% endif %}
            {% if editions[locale].express and(devotion.variant !== 'express') %}
              <a href="/{{ locale }}/express/{{ devotion.devotionId }}" class="block text-white text-xs py-3 pl-2 pr-4">
                <button>{{ editions[locale].express }}</button>
              </a>
            {% endif %}
            {% if not editions[locale]
              .youth and not editions[locale]
              .express %}
              <span class="block text-white text-xs py-3 pl-2 pr-4">No other editions available in your chosen language</span>
            {% endif %}

          </div>
        </div>
        {% if locale %}
          <div class="space-y-1 w-full">
            <button id="languagesButton" class="bg-transparent px-2  text-black uppercase" :class="outOfView ? 'text-base w-full space-x-1.5 py-3 flex items-center justify-center' :'border border-red text-xs'" @click="openLanguages = !openLanguages">
              <span x-show="outOfView">{% svgSprite name="translate", class="fill-current h-6 w-6 ltr:mr-2 rtl:ml-2" %}</span>
              {{ locale }}
            </button>
            <div class="absolute bg-red divide-y-2" :class="outOfView ? 'w-1/2' : 'min-w-max'" x-show="openLanguages">
              {% for lang in globals.languages %}
                <a class="block text-white text-xs py-3 pl-2 pr-4" :href="parsePageUrl('{{ page.url }}', '{{ lang.locale }}')">
                  <div class="grid grid-cols-3 gap-3 min-w-max">
                    <span class="col-start-1 col-end-3">{{ lang.language }}</span>
                    <div class="col-start-3 col-end-4 flex justify-end">
                      <div class="grid grid-cols-2 gap-2">
                        {% if (devotion.locale == lang.locale) and (lang.locale == 'it') and devotion.audio.url %}
                          {% svgSprite name = "audio", class = "h-4 w-4" %}<span>en</span>
                        {% else %}
                          {% for devotion in todaysDevotions %}
                            {% if devotion.locale == lang.locale and devotion.audio.url %}
                              {% svgSprite name = "audio",
                              class = "h-4 w-4" %}
                              {% if lang.locale in['ar', 'es'] %}
                                <span>en</span>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </h1>
  <div x-data="baseView" class="absolute top-0 right-0 pt-2 pr-2 flex flex-row-reverse justify-center items-center rtl:pr-0 rtl:pl-2 rtl:left-0 rtl:right-auto md:hidden">
    <a href="/{{ locale }}/#start" :href="deviceUrl('{{ locale }}', '{{ globals.stores.android }}', '{{ globals.stores.ios }}')" class="inline-block bg-red border border-red rounded p-2 pb-1.5 text-white hover:bg-white hover:text-red transition-colors">{{ navigation[locale].download }}
    </a>
  </div>
</header>
<nav id="navbar" class=" fixed bottom-0 w-full bg-white z-10 shadow-lg h-16 flex items-center sm:h-20 md:absolute md:bg-transparent
      md:h-auto md:bottom-auto md:top-0 md:ltr:right-0
      md:rtl:left-0  md:text-black md:mt-4 md:shadow-none text-left flex-row-reverse md:rtl:pl-4
      md:w-1/2 ">
  <div class="w-full grid grid-cols-4 justify-items-stretch md:flex md:flex-row md:w-auto">
    <a href="/{{ locale }}#start" class="flex flex-col items-center justify-center md:py-1.5 md:mr-4 md:underline" title="Start Bible in One Year Today">
      {% svgSprite name="bioy-filled", class="fill-current h-6 w-6 mb-1 sm:h-8 sm:w-8 md:hidden" %}
      {{ navigation[locale].start }}
    </a>
    <a href="/{{ locale }}/about" class="flex flex-col items-center justify-center {{ 'text-red' if activePage == 'about' }} md:py-1.5 md:mr-4
                                                                                                                                                                                                                        md:underline">
      {% svgSprite name="about", class="fill-current h-6 w-6 mb-1 sm:h-8 sm:w-8 md:hidden" %}
      {{ navigation[locale].about }}
    </a>
    <a href="/{{ locale }}/faqs" class="flex flex-col items-center justify-center {{ 'text-red' if activePage == 'help' }} md:py-1.5 md:mr-4 md:underline">
      {% svgSprite name="help", class="fill-current h-6 w-6 mb-1 sm:h-8 sm:w-8 md:hidden" %}
      {{ navigation[locale].faqs }}
    </a>
    <a href="/{{ locale }}/donate" class="flex flex-col items-center justify-center {{ 'text-red' if activePage == 'donate' }} md:py-1.5 md:mr-4
                                                                                                                                                                                                                        md:underline">
      {% svgSprite name="donate", class="fill-current h-6 w-6 mb-1 sm:h-8 sm:w-8 md:hidden" %}
      {{ navigation[locale].donate }}
    </a>
    <a class="hidden bg-red border border-red rounded p-2 pb-1.5 text-white hover:bg-white hover:text-red transition-colors
                                                                                                                                                                    no-underline mr-4 md:flex" href="/{{ locale }}/#start" :href="deviceUrl('{{ locale }}', '{{ globals.stores.android }}', '{{ globals.stores.ios }}')">
      {{ navigation[locale].download }}
    </a>
  </div>
</nav>