<title>{% if title or lang.title %}{{ title }}{{ lang.title }} | {% endif %}{{ site.title }}</title>

    <meta name="description" content="{{ description | default(site.social.desc) }}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Alpha International">

    <link rel="canonical" href="https://bibleinoneyear.org{{ page.url }}">

    <meta property="og:title" content="{% if title or lang.title %}{{ title }}{{ lang.title }} | {% endif %}{{ site.title }}">
    <meta property="og:type" content="article">

    <meta property="og:url" content="https://bibleinoneyear.org{{ page.url }}">
    <meta property="og:description" content="{{ description | default(site.social.desc) }}">
    <meta property="og:image" content="{{ site.social.img }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@BibleinOneYr">
    <meta name="twitter:url" content="https://bibleinoneyear.org{{ page.url }}">
    <meta name="twitter:title" content="{% if title or lang.title %}{{ title }}{{ lang.title }} | {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ description | default(site.social.desc) }}">
    <meta name="twitter:image" content="{{ site.social.img }}">
