<section x-data="videoHero" class="relative mt-24 lg:mt-32">
  <div x-cloak
       x-show="!isPlaying"
       x-transition.opacity.duration.300ms
       class="absolute inset-0 flex flex-col items-center justify-center bg-black/50 lg:items-start lg:justify-start lg:pt-[120px] 2xl:pt-[250px]">
    <div class="flex flex-col gap-y-4 w-full sm:gap-y-8 lg:gap-y-16">
      <div class="container px-8 pt-8 mx-auto lg:pt-0">
        <h2 class="subtitle max-w-[700px] text-center font-bold leading-snug text-white lg:text-left">
          Share the Bible with Nicky and Pippa Gumbel
        </h2>
      </div>
      <div class="flex justify-center items-center">
        <button type="button"
                class="z-10 hover:cursor-pointer focus:outline-none"
                @click="play">
          <svg class="size-12 lg:size-[85px]"
               viewBox="0 0 85 85"
               fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <circle cx="42.297" cy="42.297" r="40.797" stroke="white" stroke-width="3" />
            <path d="M61.6895 42.297L31.8663 59.5154V25.0786L61.6895 42.297Z" fill="white" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <video x-ref="player"
         :controls="isPlaying ? true : null"
         playsinline="playsinline"
         class="w-full aspect-video">
    <source src="https://storage.googleapis.com/bnap-website/uploads/bnap-video-landscape.webm"
            type="video/webm" />
  </video>
</section>
